
<% content_for :header_tags do %>

	<!-- ExtJS -->
	<%= stylesheet_link_tag '../javascripts/ext-3.1.1/resources/css/ext-all', :plugin => 'redcase' %>
	<!-- Redmine -->
	<%= stylesheet_link_tag 'application' %>
	<!-- Redcase -->
	<%= stylesheet_link_tag 'styles', :plugin => 'redcase' %>

	<!-- Flash chart -->
	<%= javascript_include_tag 'swfobject', :plugin => 'redcase' %>
	<!-- ExtJS -->
	<%= javascript_include_tag 'ext-3.1.1/adapter/ext/ext-base', :plugin => 'redcase' %>
	<%= javascript_include_tag 'ext-3.1.1/ext-all-debug', :plugin => 'redcase' %>
	<!-- Prototype -->
	<%= javascript_include_tag 'prototype-1.7.1.0/prototype.js', :plugin => 'redcase' %>
	<!-- Redcase -->
	<%= javascript_include_tag 'logging', :plugin => 'redcase' %>
	<%= javascript_include_tag 'api', :plugin => 'redcase' %>
	<%= javascript_include_tag 'main', :plugin => 'redcase' %>

<% end %>

<script type="text/javascript">
	// Project identifier
	jsProjectId = <%= @project.id %>;
	// User access rights
	jsCanEdit = <%= User.current.allowed_to?(:edit_test_cases, @project) != false %>;
</script>

<% html_title "Test cases" %>

<h2>Test cases
    <!-- Temporary plugin version output (only for testing) -->
    <span style="color: gray">
        (Plugin version: <%= Redmine::Plugin.all.detect { |x| x.name == 'Redcase' }.version %>)
    </span>
</h2>

<% if @version.nil? then %>
	<div style="color: #bbbbbb; text-align: center">
		(There is no <b>version</b> for this project. If you need to execute test cases please create some one...)
	</div>
<% end %>

<!-- Creating plugin inner tabs -->
<%= render_tabs get_plugin_tabs(@project) %>

<div id="redcase-dialog" style="display: none">
	<label for="name">Name:</label>
	<input type="text" name="redcase-dialog-value" id="redcase-dialog-value" class="text ui-widget-content ui-corner-all">
</div>
